<!-- Wrapper ocupa toda la pantalla -->
<div class="d-flex vh-100 justify-content-center align-items-start pt-5">
  <div class="p-4 border rounded" style="max-width: 400px; width: 100%;">
    <h2 class="mb-4 text-center">Iniciar Sesión</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario:</label>
        <input id="usuario" [(ngModel)]="usuario" name="usuario" required class="form-control" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required class="form-control" />
      </div>

      <div *ngIf="errorMessage" class="text-danger mb-3">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn btn-outline-primary w-100">Ingresar</button>
    </form>
  </div>
</div>